body{
   
 font-family: apple;
height: 150vh;
background-color:rgb(0, 0, 0);

color: white;
  }

#tt{
  text-align: center;
 font-size: 15vw;
}

#img{
  width: 600px;
  border-radius:40px ;
  
}
#clearGoalsButton{
 width: 20%;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 15px;
    border: none;
    margin-top: 20px;
  float: right;

  margin: 20px;
 
}

#whole{
align-self: center;
justify-self: center;
height: 80vh;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 100%;

}
@font-face{
    font-family: apple;
    src: url(fonts/SFPRODISPLAYREGULAR.OTF)
}

#clock1{
font-family: apple;
font-size: 40px;
background: rgb(255, 255, 255);        
    backdrop-filter: blur(12px);                 
    -webkit-backdrop-filter: blur(12px);         
    box-shadow: 0 9px 25px rgba(0,0,0,0.06); 
    border-radius: 80px;   
      
width: 80%;
text-align: center;
color: rgb(0, 0, 0);
display: flex;
justify-content: center;
align-items: center;
scale: 0.8;
}
#candle{
  display: inline-block;
}
#clock1:hover{
    scale: 1;
    transition: 0.3s;
   
}
#clock{
   cursor: pointer;
}








#container{
  margin-top: 100px;
background-color: transparent;
font-family: apple;
width: 100%;
height: 100vh;
left: 0;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}


#goalInput{
    width: 50%;
    height: 50px;
    border-radius: 25px;
   background: rgb(255, 255, 255);        
    backdrop-filter: blur(12px);                 
    -webkit-backdrop-filter: blur(12px);        
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding-left: 20px;
    border: none;
    text-align: center;
}


#goalInput:focus{
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.164);
}
#addGoalButton{
    width: 20%;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 15px;
    border: none;
    margin-top: 20px;
}

#goalList{
    width: 50%;
    height: 60vh;
    overflow-y: auto;
    margin-top: 20px;
    border-radius: 40px;
   background: rgb(255, 255, 255);        
    backdrop-filter: blur(12px);                 
    -webkit-backdrop-filter: blur(12px);         
    box-shadow: 0 9px 25px rgba(0,0,0,0.06); 
    padding: 20px;
    text-align: center;
      margin-top: 40px;
}

#goalList:hover{

  scale: 1.1;
  transition: 0.2s;
}
#goalList::-webkit-scrollbar {
    width: 10px;
}
#goalList::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
#goalList::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
}




@font-face{
    font-family: apple;
    src: url(fonts/SFPRODISPLAYREGULAR.OTF)
}
#goals{
        
    backdrop-filter: blur(12px);                 
    -webkit-backdrop-filter: blur(12px);         
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 40px;
}

@media (max-width: 1040px){
#whole{
  flex-direction: column;
  width: 100%;

}

#spacer{
  width: 100%;
  height: 40vh;
  background-color: aqua;
}
#clock1{
  margin-top: 500px;
  width: 90%;
}
#clearGoalsButton{
border-radius: 20px;
float: none;
padding: 7px 12px;

}

#addGoalButton{
border-radius: 20px;
}

#goalList{

  width: 80%;
}



}



