@font-face{
    font-family: mojang;
  src: url(fonts/fonts/Outfit-Regular.ttf);
  
}
body{
   transition: all 0.3s ease;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
   
    justify-self: center;
    background-color: #000000;
    color: #ffffff;
overflow-x: hidden;
left: 0;
right: 0;

}


#nav{
    position: fixed;

    transition: all 0.3s ease;
    width: 40%;
    height: 70px;
    background: transparent;       
        bottom: 0;
    justify-self: center;
    color: white;
display: flex;
    align-items: center;
    justify-content: center;
  background: rgba(77, 72, 72, 0.178);        
    backdrop-filter: blur(12px);                 
    -webkit-backdrop-filter: blur(12px);         
    gap: 70px;
 font-weight: 100;
    font-size: clamp(11px ,2dvw ,1.5vh);
    z-index: 2100;
     overflow-x: hidden;
     border-radius: 40px;
     margin-bottom: 20px;
     text-decoration: none;
  
    
     
}
#navlist{
   
   background: transparent;
 transition: all 0.3s ease;

   width: 100%;
    height: 250px;
      bottom: 0;
    display: none;
    grid-template-columns: repeat(2,2fr);
       gap: 20px;
       padding: 30px;
         align-items: center;
      justify-content: center;
      justify-self: center;
                                  
 
}
#nav a{
    text-decoration: none;
    color:rgb(255, 255, 255)
}
#nav a:hover{
color:rgb(0, 255, 42);
  transition: all 0.3s ease;
}


#spacer{
    height:300px;
    
}
#hero{
    align-self: center;
    justify-self: center;
    text-align: center;
width:100%;
height:500px;
}
#bd p{
    justify-self: center;
    align-self: center;
    width:50%   ;
}

#bd li{
  list-style: none;
}
#Contact{
height: 90vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
#skills{
  color:rgb(0, 255, 42)
}
#bd{
height: 90vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}

#username{
    width: 300px;
    height: 30px;
    border-radius: 10px;
     background: rgba(255, 255, 255, 0.4);        
    backdrop-filter: blur(12px);                 
    -webkit-backdrop-filter: blur(12px);         
    box-shadow: 0 2px 16px rgba(0,0,0,0.06);   
    
}
#email{
    width: 300px;
    height: 30px;
      border-radius: 10px;
       background: rgba(255, 255, 255, 0.4);        
    backdrop-filter: blur(12px);                 
    -webkit-backdrop-filter: blur(12px);         
    box-shadow: 0 2px 16px rgba(0,0,0,0.06);   
    
}
#password{
    width: 300px;
    height: 30px;
      border-radius: 10px;
       background: rgba(255, 255, 255, 0.4);        
    backdrop-filter: blur(12px);                 
    -webkit-backdrop-filter: blur(12px);         
    box-shadow: 0 2px 16px rgba(0,0,0,0.06);   
    
}
#submit{
     width: 60%;
    height: 30px;
      border-radius: 10px;
      border-color:white ;
      margin-top: 5px;
      justify-self: center;
}

.fillin{
  height: 90vh;
 width: 100%;
  border-radius: 50px;
  display: flex;
    justify-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 color: #ffffff;
}

@media (max-width: 600px){
#username,#email,#password{
  width: 200px;

}

#hero{
font-size: 15px;
padding:20px;
}

#nav{
  width: 80%;
}



}